{% extends "model_layout.html" %}

{% block jumbotron_header %}
    Document Overview
{% endblock %}

{% block jubmotron_content %}
    Title: {{ document.title }}
    <br>
    Corresponding Dataset: Dataset #{{ dataset.id }}, "{{ dataset.name }}" 
    <br>
    Abstract: {{ document.abstract }}
{% endblock %}

{% block container_navtabs %}
    <li class="active"><a data-toggle="tab" href="#topics">Topics</a></li>
    <li><a data-toggle="tab" href="#terms">Terms</a></li>
    <li><a data-toggle="tab" href="#similar">Similar Documents</a></li>
    <li><a data-toggle="tab" href="#content">Content</a></li>
{% endblock %}


{% block navtabs_content %}
    <div class="tab-content">
        <div id="topics" class="tab-pane fade in active">
            <p>
                <div class="table-responsive col-md-6">
                    <!-- topics_td -->
                    <div class="panel panel-default">
                        <div class="panel-heading" align="center">Topics sorted by p(t|d)</div>
                        <table class="table table-hover">
                            <tr>
                                <th><div align="center">p(t|d)</div></th>
                                <th><div align="center">Topic</div></th>
                            </tr>
                            <tr>
                                {% for document_topic in document_topics | 
                                    sort(attribute='prob_td', reverse=True) %}
                                    <tr>
                                        <td width="20%" align="center">{{ document_topic.prob_td | round(3) }}</td>
                                        <td width="80%" align="center">
                                            <a href = "{{ url_for('topic', 
                                                    dataset_id=dataset.id, 
                                                    topic_model_id=topic_model.id,
                                                    topic_id=document_topic.topic_id)
                                                    }}">
                                                {{ document_topic.topic.title }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tr>
                        </table>
                    </div>
                    <!-- topics_td -->
                </div>
                <div class="table-responsive col-md-6">
                    <!-- topics_td -->
                    <div class="panel panel-default">
                        <div class="panel-heading" align="center">Topics sorted by p(d|t)</div>
                        <table class="table table-hover">
                            <tr>
                                <th><div align="center">p(d|t)</div></th>
                                <th><div align="center">Topic</div></th>
                            </tr>
                            <tr>
                                {% for document_topic in document_topics | 
                                    sort(attribute='prob_dt', reverse=True) %}
                                    <tr>
                                        <td width="20%" align="center">{{ document_topic.prob_dt | round(3) }}</td>
                                        <td width="80%" align="center">
                                            <a href = "{{ url_for('topic', 
                                                    dataset_id=dataset.id, 
                                                    topic_model_id=topic_model.id,
                                                    topic_id=document_topic.topic_id)
                                                    }}">
                                                {{ document_topic.topic.title }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tr>
                        </table>
                    </div>
                    <!-- topics_td -->
                </div>
            </p>
        </div>
        <div id="terms" class="tab-pane">
            <div class="panel panel-default">
                <div class="panel-heading" align="center">Terms sorted by number of occurances</div>
                <table class="table table-hover">
                    <tr>
                        <th><div align="center">Count</div></th>
                        <th><div align="center">Term</div></th>
                    </tr>
                    <tr>
                        {% for document_term in document.document_terms | 
                            sort(attribute='count', reverse=True) %}
                            <tr>
                                <td width="20%" align="center">{{ document_term.count| round(3) }}</td>
                                <td width="80%" align="center">
                                    <a href = "{{ url_for('term', 
                                            dataset_id=dataset.id, 
                                            topic_model_id=topic_model.id,
                                            term_id=document_term.term_id)
                                            }}">
                                        {{ document_term.term.text }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
        <div id="similar" class="tab-pane fade">
            <div class="panel panel-default">
                <div class="panel-heading" align="center">Similar Documents sorted by Similarity</div>
                <table class="table table-hover">
                    <tr>
                        <th><div align="center">Similarity</div></th>
                        <th><div align="center">Document</div></th>
                    </tr>
                    <tr>
                        {% for document_similarity in document_similarities | 
                            sort(attribute='similarity', reverse=True) %}
                            <tr>
                                <td width="20%" align="center">{{ document_similarity.similarity | round(3) }}</td>
                                <td width="80%" align="center">
                                    <a href = "{{ url_for('document', 
                                            dataset_id=dataset.id, 
                                            topic_model_id=topic_model.id,
                                            document_id=document_similarity.document_r.id)
                                            }}">
                                        {{ document_similarity.document_r.title }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
        <div id="content" class="tab-pane fade">
            {{ document.content | safe }}
        </div>
{% endblock %}
