{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>Visualising your datasets!</h2>
    <p>Here is a list of loaded datasets with their topic models:</p>
</div>

{% for dataset in datasets %}
    <div class="panel panel-default">
        <div class="panel-heading">
        <h3 class="panel-title">Dataset #{{ dataset.id }}, "{{ dataset.name }}"</h3>
        <br>
        Documents: {{ dataset.documents | length }}
        <br>
        Terms: {{ dataset.terms | length }}
    </div>
    <div class="panel-body">
        <div class="list-group">
            {% for topic_model in dataset.topic_models %}
                <a href="{{ url_for('topic_model', dataset_id=dataset.id, topic_model_id=topic_model.id) }}" class="list-group-item">
                    <h4 class="list-group-item-heading">Topicmodel #{{ topic_model.id }}, "{{ topic_model.name }}"</h4>
                    <div class="list-group-item-text">
                        Topics: {{ topic_model.topics | length }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endfor %}

{% endblock %}
