{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h2>Visualising your datasets!</h2>
  <p>Here is a list of loaded datasets with their topic models:</p>
</div>

{% for dataset in datasets %}
  <div class="panel panel-default">
    <div class="panel-heading">
    <h3 class="panel-title">Dataset #{{ dataset.id }} "{{ dataset.name }}"</h3>
  </div>
  <div class="panel-body">
    <ul>
      {% for topicmodel in dataset.topicmodels %}
      <li>Topicmodel #{{ topicmodel.id }} "{{ topicmodel.name }}" </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}

{% endblock %}
