{% macro list_topics(heading, dataset, topic_model, topics) -%}
    <div class="list-group">
        {% if heading %}
            <div class = "list-group-item active">
                <h4 class = "list-group-item-heading">
                    {{ heading }}
                </h4>
            </div>
        {% endif %}
        {% for topic in topics | sort(attribute='probability', reverse=True) %}
            <a href="{{ url_for('topic', dataset_id=dataset.id,
                        topic_model_id=topic_model.id, topic_id=topic.id) }}"
                        class="list-group-item">
            <h4 class="list-group-item-heading">{{ topic.title }}</h4>
            <p class="list-group-item-text">
                Probability: {{ topic.probability | round(3) }}
            </p>
            </a>
        {% endfor %}
    </div>
{%- endmacro %}

{% macro assess_button(class_name, arg_list, value) -%}
    <button type="submit" type="button" class="btn btn-default btn-xs btn-assess"
        class_name='{{ class_name }}' arg_list='{{ arg_list }}'
        value='{{ value }}'>
      <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
    </button>
{%- endmacro %}
