{% extends "model_layout.html" %}

{% block jumbotron_header %}
    Term "{{ term.text }}" Overview
{% endblock %}

{% block jubmotron_content %}
    Corresponding Dataset: Dataset #{{ dataset.id }}, "{{ dataset.name }}" 
    <br>
{% endblock %}

{% block container_navtabs %}
    <li><a data-toggle="tab" href="#overview">Overview</a></li>
    <li><a data-toggle="tab" href="#topics">Topics</a></li>
    <li><a data-toggle="tab" href="#documents">Documents</a></li>
    <li><a data-toggle="tab" href="#similarities">Similar Terms</a></li>
{% endblock %}


{% block navtabs_content %}
    <div class="tab-content">
        <div id="overview" class="tab-pane fade in active">
            <p>
                BLANK 
                <!-- TODO: add some fancy overview right here -->
            </p>
        </div>
        <div id="topics" class="tab-pane fade">
            <p>
                <div class="table-responsive col-md-6">
                    <!-- topics_wt -->
                    <div class="panel panel-default">
                        <div class="panel-heading">Topics sorted by p(w|t)</div>
                        <table class="table table-hover">
                        <tr>
                            <th>p(w|t)</th>
                            <th>Topic</th>
                        </tr>
                        <tr>
                            {% for topic_term in term.topic_terms | 
                                sort(attribute='prob_wt', reverse=True) %}
                                <tr>
                                    <td>{{ topic_term.prob_wt | round(3) }}</td>
                                    <td>
                                        <a href = "{{ url_for('topic', 
                                                dataset_id=dataset.id, 
                                                topic_model_id=topic_model.id,
                                                topic_id=topic_term.topic_id)
                                                }}">
                                            {{ topic_term.topic.title }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tr>
                        </table>
                    </div>
                    <!-- topics_wt -->
                </div>
                <div class="table-responsive col-md-6">
                    <!-- topics_tw -->
                    <div class="panel panel-default">
                        <div class="panel-heading">Topics sorted by p(w|t)</div>
                        <table class="table table-hover">
                        <tr>
                            <th>p(t|w)</th>
                            <th>Topic</th>
                        </tr>
                        <tr>
                            {% for topic_term in term.topic_terms | 
                                sort(attribute='prob_wt', reverse=True) %}
                                <tr>
                                    <td>{{ topic_term.prob_tw | round(3) }}</td>
                                    <td>
                                        <a href = "{{ url_for('topic', 
                                                dataset_id=dataset.id, 
                                                topic_model_id=topic_model.id,
                                                topic_id=topic_term.topic_id)
                                                }}">
                                            {{ topic_term.topic.title }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tr>
                        </table>
                    </div>
                    <!-- topics_wt -->
                </div>

            </p>
        </div>
    </div>
{% endblock %}


