{% extends "model_layout.html" %}

{% block jumbotron_header %}
    Topic "{{ topic.title }}" Overview
{% endblock %}

{% block jubmotron_content %}
    Corresponding Dataset: Dataset #{{ dataset.id }}, "{{ dataset.name }}" 
    <br>
    Documents count: {{ dataset.documents | length }}
    <br>
    Terms count: {{ dataset.terms | length }}
    <br>
    Topics count: {{ topicmodel.topics | length }}
{% endblock %}

{% block container_navtabs %}
    <li><a data-toggle="tab" href="#overview">Overview</a></li>
    <li><a data-toggle="tab" href="#terms">Terms</a></li>
    <li><a data-toggle="tab" href="#documents">Documents</a></li>
    <li><a data-toggle="tab" href="#similar">Similar Topics</a></li>
{% endblock %}


{% block navtabs_content %}
    <div class="tab-content">
        <div id="overview" class="tab-pane fade in active">
            <p>
                BLANK 
                <!-- TODO: add some fancy overview right here -->
            </p>
        </div>
        <div id="terms" class="tab-pane fade">
            <p>
                <div class="table-responsive col-md-6">
                    {{ table_model(terms_wt_table) }}
                </div>
                <div class="table-responsive col-md-6">
                    {{ table_model(terms_tw_table) }}
                </div>
            </p>
        </div>
        <div id="documents" class="tab-pane">
            <p>
                <div class="table-responsive col-md-6">
                    {{ table_model(documents_dt_table) }}
                </div>
                <div class="table-responsive col-md-6">
                    {{ table_model(documents_td_table) }}
                </div>
            </p>
        </div>
        <div id="similar" class="tab-pane fade">
            <p>
                {{ table_model(topic_similarities_table) }}
            </p>
        </div>
{% endblock %}
