{% extends "model_layout.html" %}

{% block jumbotron_header %}
    Topic Overview
{% endblock %}

{% block jubmotron_content %}
    Title: {{ topic.title }}
    <br>
    Probability: {{ topic.probability | round(3) }}
    <br>
    IsBackground: {{ topic.is_background }} 
    <br>
    <br>
    Corresponding Dataset: Dataset #{{ dataset.id }}, "{{ dataset.name }}" 
{% endblock %}

{% block container_navtabs %}
    <li class="active"><a data-toggle="tab" href="#terms">Terms</a></li>
    <li><a data-toggle="tab" href="#documents">Documents</a></li>
    <li><a data-toggle="tab" href="#similar">Similar Topics</a></li>
{% endblock %}


{% block navtabs_content %}
    <div class="tab-content">
        <div id="terms" class="tab-pane fade in active">
            <p>
                <div class="table-responsive col-md-6">
                    <!-- terms_wt -->
                    <div class="panel panel-default">
                        <div class="panel-heading" align="center">Terms sorted by p(w|t)</div>
                        <table class="table table-hover">
                            <tr>
                                <th><div align="center">p(w|t)</div></th>
                                <th><div align="center">Term</div></th>
                            </tr>
                            <tr>
                                {% for topic_term in topic.topic_terms | 
                                    sort(attribute='prob_wt', reverse=True) %}
                                    <tr>
                                        <td align="center">{{ topic_term.prob_wt | round(3) }}</td>
                                        <td align="center">
                                            <a href = "{{ url_for('term', 
                                                    dataset_id=dataset.id, 
                                                    topic_model_id=topic_model.id,
                                                    term_id=topic_term.term_id)
                                                    }}">
                                                {{ topic_term.term.text }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tr>
                        </table>
                    </div>
                    <!-- terms_wt -->
                </div>
                <div class="table-responsive col-md-6">
                    <!-- terms_tw -->
                    <div class="panel panel-default">
                        <div class="panel-heading" align="center">Terms sorted by p(t|w)</div>
                        <table class="table table-hover">
                            <tr>
                                <th><div align="center">p(t|w)</div></th>
                                <th><div align="center">Term</div></th>
                            </tr>
                            <tr>
                                {% for topic_term in topic.topic_terms | 
                                    sort(attribute='prob_tw', reverse=True) %}
                                    <tr>
                                        <td align="center">{{ topic_term.prob_tw | round(3) }}</td>
                                        <td align="center">
                                            <a href = "{{ url_for('term', 
                                                    dataset_id=dataset.id, 
                                                    topic_model_id=topic_model.id,
                                                    term_id=topic_term.term_id)
                                                    }}">
                                                {{ topic_term.term.text }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tr>
                        </table>
                    </div>
                    <!-- terms_tw -->
                </div>
            </p>
        </div>
        <div id="documents" class="tab-pane">
            <p>
                <div class="table-responsive col-md-6">
                    <!-- documents_dt -->
                    <div class="panel panel-default">
                        <div class="panel-heading" align="center">Documents sorted by p(d|t)</div>
                        <table class="table table-hover">
                            <tr>
                                <th><div align="center">p(d|t)</div></th>
                                <th><div align="center">Document</div></th>
                            </tr>
                            <tr>
                                {% for document_topic in topic.document_topics | 
                                    sort(attribute='prob_dt', reverse=True) %}
                                    <tr>
                                        <td align="center">{{ document_topic.prob_dt | round(3) }}</td>
                                        <td align="center">
                                            <a href = "{{ url_for('document', 
                                                    dataset_id=dataset.id, 
                                                    topic_model_id=topic_model.id,
                                                    document_id=document_topic.document_id)
                                                    }}">
                                                {{ document_topic.document.title }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tr>
                        </table>
                    </div>
                    <!-- documents_dt -->
                </div>
                <div class="table-responsive col-md-6">
                    <!-- documents_dt -->
                    <div class="panel panel-default">
                        <div class="panel-heading" align="center">Documents sorted by p(t|d)</div>
                        <table class="table table-hover">
                            <tr>
                                <th><div align="center">p(t|d)</div></th>
                                <th><div align="center">Document</div></th>
                            </tr>
                            <tr>
                                {% for document_topic in topic.document_topics | 
                                    sort(attribute='prob_td', reverse=True) %}
                                    <tr>
                                        <td align="center">{{ document_topic.prob_td | round(3) }}</td>
                                        <td align="center">
                                            <a href = "{{ url_for('document', 
                                                    dataset_id=dataset.id, 
                                                    topic_model_id=topic_model.id,
                                                    document_id=document_topic.document_id)
                                                    }}">
                                                {{ document_topic.document.title }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tr>
                        </table>
                    </div>
                    <!-- documents_dt -->
                </div>
            </p>
        </div>
        <div id="similar" class="tab-pane fade">
            <p>
                <!-- topic_similarities -->
                <div class="panel panel-default">
                    <div class="panel-heading" align="center">Similar Topics sorted by similarity</div>
                    <table class="table table-hover">
                        <tr>
                            <th><div align="center">Similarity</div></th>
                            <th><div align="center">Topic</div></th>
                        </tr>
                        <tr>
                            {% for topic_similarity in topic.similar_topics_l | 
                                sort(attribute='similarity', reverse=True) %}
                                <tr>
                                    <td width="20%" align="center">{{ topic_similarity.similarity | round(3) }}</td>
                                    <td width="80%" align="center">
                                        <a href = "{{ url_for('topic', 
                                                dataset_id=dataset.id, 
                                                topic_model_id=topic_model.id,
                                                topic_id=topic_similarity.topic_r_id)
                                                }}">
                                            {{ topic_similarity.topic_r.title }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
                <!-- topic_similarities -->
            </p>
        </div>
{% endblock %}
